:root {
    /* 
        how to use:
            property: var(--custom-property-name);
    */
    --my-primary-color: #eee;
    --my-secondary-color: #823838;
    --my-tertiary-color: #eee;
    --my-highlight-color: #ff5656;

    --my-window-close-color: #FF5B56;
    --my-window-minimise-color: #E7C029;
    --my-window-maximise-color: #51C12A;
}
  
body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    color: var(--my-tertiary-color);
}

.hero {
    font-family: 'Rubik', sans-serif;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.hero h1, h2, span a {
    font-weight: bold;
}
.hero h1 {
    font-size: 2.7rem;
    color: var(--my-tertiary-color);
}
.hero h1 span {
    color: var(--my-highlight-color);
}
.hero h2 {
    font-size: 1.8rem;
    color: var(--my-secondary-color);
}
.hero p {
    color: var(--my-tertiary-color);
    margin-top: 1.7rem;
    line-height: 1.7rem;
}
.hero span a {
    color: var(--my-highlight-color);
}
.hero .wrapper {
    max-width: 35rem;

    background: #151821;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 12px 12px 20px #000000a1;
}

.window-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    margin: .5rem 0;
}

.window-buttons div {
    height: 10px; width: 10px;
    border-radius: 50px;
}

.window-close {
    background-color: var(--my-window-close-color);
}
.window-minimise {
    background-color: var(--my-window-minimise-color);
}
.window-maximise {
    background-color: var(--my-window-maximise-color);
}

.my-button {
    margin-top: 1.5rem;
    color: #fff;
    background-color: var(--my-highlight-color);
    border-color: var(--my-highlight-color);
}
.my-button:hover {
    color: #fff;
    background-color: rgb(253, 70, 48);
    border-color: rgb(252, 64, 35);
}
.my-button:active {
    color: #fff;

    background-color: rgb(252, 64, 35);
    border-color: rgb(252, 59, 23);
}
.my-button:focus {
    color: #fff;
    background-color: rgb(253, 70, 58);
    border-color: rgb(252, 64, 35);
    box-shadow: 0 0 0 .25rem rgba(255, 108, 86,.5);
}
.my-button:active:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 108, 86,.5);
}

@media only screen and (min-width: 769px) {

}

.nav-item {
    text-align: center;
    padding-top: .6rem;
    padding-bottom: .6rem
}




.spacer {
    width: 100%;
    height: 9rem;
}

.showcase-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.showcase-item {
    margin-top: 2rem;
    width: 30rem;
    min-height: 16rem;
    background-color: #ffffff;
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); */
    flex-grow: 1;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.filter-bg {
    position: relative;
}
.filter-bg::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    border-radius: 5px;
}
.filter-bg:hover::before {
    filter: none;
}
.filter-bg div {
    position: relative;
}

.showcase-item-main, .showcase-item-secondary {
    width: 100%;
}
.showcase-item-main {
    height: 70%;
}
.showcase-item-secondary {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: start;
    align-items: center;
    height: 30%;
    gap: 2rem;
    color: var(--my-highlight-color);
}

.showcase-item-secondary a {
    color: var(--my-highlight-color);
    font-size: 2rem;
}

#showcase-item-1::before {
    background-image: url(../imgs/portfoliosite.png);
}
#showcase-item-2::before {
    background-image: url(../imgs/underpressureespresso.png);
}
#showcase-item-3::before {
    background-image: url(../imgs/charliethealiengame.jpg);
}









footer {
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 5rem;
}